.form-check-group {
    font-weight: normal;
    line-height: 1px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.form-check-box {
    display: inline-block;
    vertical-align: text-bottom;
}

.form-check {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    position: absolute;
}

.form-check-svg {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background: rgba(255, 255, 255, 0);
    border: 2px solid var(--color-grey-5);
    margin-right: 0.8rem;
}

.form-check-svg svg {
    fill: none;
    stroke: var(--color-white);
    stroke-width: 4px;
    background-color: var(--color-red);
    visibility: hidden;
}

.agreement-label {
    font-size: 14px;
    color: black;
}

.agreement-label a {
    color: var(--color-red);
    line-height: 1.5;
    font-weight: normal;
    font-size: 14px;
}